src/main/resources/schema/prepaid/INCAdjustAccountsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="INC" xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../INCBaseTypes.xsd"/>
	<xs:include schemaLocation="../INCComplexTypes.xsd"/>
	<xs:complexType name="t_adjustAccountsRequest">
		<xs:sequence>
			<xs:element name="subscriber" type="t_subscriberWithContext"/>
		 	<xs:element name="modifyMAC" type="t_modifyMAC" minOccurs="0"/>
			<xs:element name="modifySubaccount" type="t_modifySubaccountWithUnitPacks" minOccurs="0" maxOccurs="64"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>