src/main/resources/schema/vpabx/legacy/INCGetVPABXGroupRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd"/>
	<xs:include schemaLocation="../../INCComplexTypes.xsd"/>
	<xs:complexType name="t_getVPABXGroupRequestType">
		<xs:sequence>
			<xs:element name="groupName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getVPABXGroupRequest" type="t_getVPABXGroupRequestType"/>
</xs:schema>
