src/main/resources/schema/vpabx/legacy/INCGetVPABXGroupMemberRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="INC" xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd"/>
	<xs:include schemaLocation="../../INCComplexTypes.xsd"/>
	<xs:complexType name="t_getVPABXGroupMemberRequestType">
		<xs:sequence>
		 <xs:element name="groupName" type="xs:string"/>
			<xs:element name="memberName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>