src/main/resources/schema/vpabx/legacy/INCUpdateVPABXGroupHGRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd"/>
	<xs:include schemaLocation="../../INCComplexTypes.xsd"/>
	<xs:complexType name="t_updateVPABXGroupHGRequestType">
		<xs:sequence>
			<xs:element name="groupName" type="xs:string"/>
			<xs:element name="members" type="t_modifyVPABXGroupHGType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
