src/main/resources/schema/business/suite/INCPostPaidResponses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd" />
	<xs:include schemaLocation="./hlapi.xsd" />
	<xs:include schemaLocation="./hlapi_notification.xsd"/>

	<xs:group name="t_postPaidResponsesBodies">
		<xs:choice>
		
			<xs:element name="getAccountResponse" type="t_GetAccountResponse" />
			<xs:element name="modifyAccountResponse" type="t_empty" />
			<xs:element name="createAnnouncementResponse" type="t_empty" />
			<xs:element name="getAnnouncementResponse" type="t_GetAnnouncementResponse" />
			<xs:element name="modifyAnnouncementResponse" type="t_empty" />
			<xs:element name="removeAnnouncementResponse" type="t_empty" />
			<xs:element name="createNotificationResponse" type="t_empty" />
			<xs:element name="getNotificationResponse" type="t_GetNotificationResponse" />
			<xs:element name="modifyNotificationResponse" type="t_empty" />
			<xs:element name="removeNotificationResponse" type="t_empty" />
			<xs:element name="createCalendarResponse" type="t_empty" />
			<xs:element name="getCalendarResponse" type="t_GetCalendarResponse" />
			<xs:element name="modifyCalendarResponse" type="t_empty" />
			<xs:element name="removeCalendarResponse" type="t_empty" />
			<xs:element name="createHuntingGroupMemberResponse" type="t_empty" />
			<xs:element name="createHuntingGroupResponse" type="t_empty" />
			<xs:element name="getHuntingGroupResponse" type="t_GetHuntingGroupResponse" />
			<xs:element name="listHuntingGroupMembersResponse" type="t_ListHuntingGroupMembersResponse" />
			<xs:element name="modifyHuntingGroupResponse" type="t_empty" />
			<xs:element name="removeHuntingGroupMemberResponse" type="t_empty" />
			<xs:element name="removeHuntingGroupResponse" type="t_empty" />
			<xs:element name="createBusinessRoutingProfileResponse" type="t_empty" />
			<xs:element name="createBusinessRoutingRuleResponse" type="t_empty" />
			<xs:element name="createPnpResponse" type="t_empty" />
			<xs:element name="getBusinessRoutingProfileResponse" type="t_GetBusinessRoutingProfileResponse" />
			<xs:element name="getPnpResponse" type="t_GetPnpResponse" />
			<!-- new request listPnpRequest -->
			<xs:element name="listPnpResponse" type="t_ListPnpResponse" />
			<xs:element name="listBusinessRoutingRulesResponse" type="t_ListBusinessRoutingRulesResponse" />
			<xs:element name="modifyBusinessRoutingProfileResponse" type="t_empty" />
			<xs:element name="modifyBusinessRoutingRuleResponse" type="t_empty" />
			<xs:element name="modifyPnpResponse" type="t_empty" />
			<xs:element name="removeBusinessRoutingProfileResponse" type="t_empty" />
			<xs:element name="removeBusinessRoutingRuleResponse" type="t_empty" />
			<xs:element name="removePnpResponse" type="t_empty" />
			<xs:element name="createBWTListEntryResponse" type="t_empty" />
			<xs:element name="createCallScreeningProfileResponse" type="t_empty" />
			<xs:element name="createRestrictionResponse" type="t_empty" />
			<xs:element name="getCallScreeningProfileResponse" type="t_GetCallScreeningProfileResponse" />
			<xs:element name="listBWTListEntriesResponse" type="t_ListBWTListEntriesResponse" />
			<xs:element name="listRestrictionsResponse" type="t_ListRestrictionsResponse" />
			<xs:element name="modifyCallScreeningProfileResponse" type="t_empty" />
			<xs:element name="removeBWTListEntryResponse" type="t_empty" />
			<xs:element name="removeCallScreeningProfileResponse" type="t_empty" />
			<xs:element name="removeRestrictionResponse" type="t_empty" />
			<xs:element name="createGroupMemberResponse" type="t_empty" />
			<xs:element name="getGMCallHuntingSubsResponse" type="t_GetGMCallHuntingSubsResponse" />
			<xs:element name="getGMCallQueuingSubsResponse" type="t_GetGMCallQueuingSubsResponse" />
			<xs:element name="getGMCallRoutingSubsResponse" type="t_GetGMCallRoutingSubsResponse" />
			<xs:element name="getGMCallScreeningSubsResponse" type="t_GetGMCallScreeningSubsResponse" />
			<xs:element name="getGMCallTransferSubsResponse" type="t_GetGMCallTransferSubsResponse" />
			<xs:element name="getGMDoubleHuntingSubsResponse" type="t_GetGMDoubleHuntingSubsResponse" />
			<xs:element name="getGMPrivateCallSubsResponse" type="t_GetGMPrivateCallSubsResponse" />
			<xs:element name="getGMPrivateSmsSubsResponse" type="t_GetGMPrivateSmsSubsResponse" />
			<xs:element name="getGMZoningSubsResponse" type="t_GetGMZoningSubsResponse" />
			<xs:element name="getGroupMemberResponse" type="t_GetGroupMemberResponse" />
			<xs:element name="listGroupMembersResponse" type="t_ListGroupMembersResponse" />
			<xs:element name="modifyGMCallRoutingSubsResponse" type="t_empty" />
			<xs:element name="modifyGMCallScreeningSubsResponse" type="t_empty" />
			<xs:element name="modifyGMDoubleHuntingSubsResponse" type="t_empty" />
			<xs:element name="modifyGMPrivateCallSubsResponse" type="t_empty" />
			<xs:element name="modifyGMPrivateSmsSubsResponse" type="t_empty" />
			<xs:element name="modifyGMZoningSubsResponse" type="t_empty" />
			<xs:element name="modifyGroupMemberResponse" type="t_empty" />
			<xs:element name="removeGroupMemberResponse" type="t_empty" />
			<xs:element name="subscribeGMCallHuntingResponse" type="t_empty" />
			<xs:element name="subscribeGMCallQueuingResponse" type="t_empty" />
			<xs:element name="subscribeGMCallRoutingResponse" type="t_empty" />
			<xs:element name="subscribeGMCallScreeningResponse" type="t_empty" />
			<xs:element name="subscribeGMCallTransferResponse" type="t_empty" />
			<xs:element name="subscribeGMDoubleHuntingResponse" type="t_empty" />
			<xs:element name="subscribeGMPrivateCallResponse" type="t_empty" />
			<xs:element name="subscribeGMPrivateSmsResponse" type="t_empty" />
			<xs:element name="subscribeGMZoningResponse" type="t_empty" />
			<xs:element name="unsubscribeGMCallHuntingResponse" type="t_empty" />
			<xs:element name="unsubscribeGMCallQueuingResponse" type="t_empty" />
			<xs:element name="unsubscribeGMCallRoutingResponse" type="t_empty" />
			<xs:element name="unsubscribeGMCallScreeningResponse" type="t_empty" />
			<xs:element name="unsubscribeGMCallTransferResponse" type="t_empty" />
			<xs:element name="unsubscribeGMDoubleHuntingResponse" type="t_empty" />
			<xs:element name="unsubscribeGMPrivateCallResponse" type="t_empty" />
			<xs:element name="unsubscribeGMPrivateSmsResponse" type="t_empty" />
			<xs:element name="unsubscribeGMZoningResponse" type="t_empty" />
			<xs:element name="createGroupResponse" type="t_empty" />
			<xs:element name="getGCallHuntingSubsResponse" type="t_GetGCallHuntingSubsResponse" />
			<xs:element name="getGCallRoutingSubsResponse" type="t_GetGCallRoutingSubsResponse" />
			<xs:element name="getGCallScreeningSubsResponse" type="t_GetGCallScreeningSubsResponse" />
			<xs:element name="getGroupResponse" type="t_GetGroupResponse" />
			<xs:element name="getGZoningSubsResponse" type="t_GetGZoningSubsResponse" />
			<xs:element name="modifyGCallHuntingSubsResponse" type="t_empty" />
			<xs:element name="modifyGCallRoutingSubsResponse" type="t_empty" />
			<xs:element name="modifyGCallScreeningSubsResponse" type="t_empty" />
			<xs:element name="modifyGroupResponse" type="t_empty" />
			<xs:element name="modifyGZoningSubsResponse" type="t_empty" />
			<xs:element name="removeGroupResponse" type="t_empty" />
			<xs:element name="subscribeGCallHuntingResponse" type="t_empty" />
			<xs:element name="subscribeGCallRoutingResponse" type="t_empty" />
			<xs:element name="subscribeGCallScreeningResponse" type="t_empty" />
			<xs:element name="subscribeGZoningResponse" type="t_empty" />
			<xs:element name="unsubscribeGCallHuntingResponse" type="t_empty" />
			<xs:element name="unsubscribeGCallRoutingResponse" type="t_empty" />
			<xs:element name="unsubscribeGCallScreeningResponse" type="t_empty" />
			<xs:element name="unsubscribeGZoningResponse" type="t_empty" />
			<xs:element name="createPartnershipDefinitionResponse" type="t_empty" />
			<xs:element name="getPartnershipDefinitionResponse" type="t_GetPartnershipDefinitionResponse" />
			<xs:element name="modifyPartnershipDefinitionResponse" type="t_empty" />
			<xs:element name="removePartnershipDefinitionResponse" type="t_empty" />
			<xs:element name="createPortedNumberResponse" type="t_empty" />
			<xs:element name="getPortedNumberResponse" type="t_GetPortedNumberResponse" />
			<xs:element name="modifyPortedNumberResponse" type="t_empty" />
			<xs:element name="removePortedNumberResponse" type="t_empty" />
			<xs:element name="addSubscriberKeysResponse" type="t_empty" />
			<xs:element name="changeMSISDNResponse" type="t_empty" />
			<xs:element name="createSubscriberLineResponse" type="t_CreateSubscriberLineResponse" />
			<xs:element name="getSubscriberKeysResponse" type="t_GetSubscriberKeysResponse" />
			<xs:element name="getSubscriberLineResponse" type="t_GetSubscriberLineResponse" />
			<xs:element name="modifySubscriberLineResponse" type="t_empty" />
			<xs:element name="activateAccountResponse" type="t_empty" />
			<xs:element name="removeSubscriberKeysResponse" type="t_empty" />
			<xs:element name="removeSubscriberLineResponse" type="t_empty" />
			<xs:element name="createUserKeyResponse" type="t_empty" />
			<xs:element name="getUKCallHuntingSubsResponse" type="t_GetUKCallHuntingSubsResponse" />
			<xs:element name="getUKCallRoutingSubsResponse" type="t_GetUKCallRoutingSubsResponse" />
			<xs:element name="getUKCallScreeningSubsResponse" type="t_GetUKCallScreeningSubsResponse" />
			<xs:element name="getUKDoubleHuntingSubsResponse" type="t_GetUKDoubleHuntingSubsResponse" />
			<xs:element name="getUKZoningSubsResponse" type="t_GetUKZoningSubsResponse" />
			<xs:element name="getUserKeyResponse" type="t_GetUserKeyResponse" />
			<xs:element name="listUserKeyResponse" type="t_ListUserKeyResponse" />
			<xs:element name="modifyUKCallRoutingSubsResponse" type="t_empty" />
			<xs:element name="modifyUKCallScreeningSubsResponse" type="t_empty" />
			<xs:element name="modifyUKDoubleHuntingSubsResponse" type="t_empty" />
			<xs:element name="modifyUKZoningSubsResponse" type="t_empty" />
			<xs:element name="modifyUserKeyResponse" type="t_empty" />
			<xs:element name="removeUserKeyResponse" type="t_empty" />
			<xs:element name="subscribeUKCallHuntingResponse" type="t_empty" />
			<xs:element name="subscribeUKCallRoutingResponse" type="t_empty" />
			<xs:element name="subscribeUKCallScreeningResponse" type="t_empty" />
			<xs:element name="subscribeUKDoubleHuntingResponse" type="t_empty" />
			<xs:element name="subscribeUKZoningResponse" type="t_empty" />
			<xs:element name="unsubscribeUKCallHuntingResponse" type="t_empty" />
			<xs:element name="unsubscribeUKCallRoutingResponse" type="t_empty" />
			<xs:element name="unsubscribeUKCallScreeningResponse" type="t_empty" />
			<xs:element name="unsubscribeUKDoubleHuntingResponse" type="t_empty" />
			<xs:element name="unsubscribeUKZoningResponse" type="t_empty" />
			<xs:element name="createAllUserDataResponse" type="t_CreateAllUserDataResponse" />
			<xs:element name="getAllUserDataResponse" type="t_GetAllUserDataResponse" />
			<xs:element name="getUCallQueuingSubsResponse" type="t_GetUCallQueuingSubsResponse" />
			<xs:element name="getUCallRoutingSubsResponse" type="t_GetUCallRoutingSubsResponse" />
			<xs:element name="getUCallScreeningSubsResponse" type="t_GetUCallScreeningSubsResponse" />
			<xs:element name="getUserResponse" type="t_GetUserResponse" />
			<xs:element name="getUZoningSubsResponse" type="t_GetUZoningSubsResponse" />
			<xs:element name="modifyUCallQueuingSubsResponse" type="t_empty" />
			<xs:element name="modifyUCallRoutingSubsResponse" type="t_empty" />
			<xs:element name="modifyUCallScreeningSubsResponse" type="t_empty" />
			<xs:element name="modifyUserResponse" type="t_empty" />
			<xs:element name="modifyUZoningSubsResponse" type="t_empty" />
			<xs:element name="removeAllUserDataResponse" type="t_empty" />
			<xs:element name="subscribeUCallRoutingResponse" type="t_empty" />
			<xs:element name="subscribeUCallScreeningResponse" type="t_empty" />
			<xs:element name="subscribeUZoningResponse" type="t_empty" />
			<xs:element name="unsubscribeUCallRoutingResponse" type="t_empty" />
			<xs:element name="unsubscribeUCallScreeningResponse" type="t_empty" />
			<xs:element name="unsubscribeUZoningResponse" type="t_empty" />
			<xs:element name="addZonesToComplexZoneResponse" type="t_empty" />
			<xs:element name="createComplexZoneResponse" type="t_empty" />
			<xs:element name="createZoneResponse" type="t_empty" />
			<xs:element name="getComplexZoneResponse" type="t_GetComplexZoneResponse" />
			<xs:element name="getZoneResponse" type="t_GetZoneResponse" />
			<xs:element name="modifyZoneResponse" type="t_empty" />
			<xs:element name="removeComplexZoneResponse" type="t_empty" />
			<xs:element name="removeZoneResponse" type="t_empty" />
			<xs:element name="removeZonesFromComplexZoneResponse" type="t_empty" />
			<xs:element name="listGroupMembersByAttributesResponse" type="t_ListGroupMembersByAttributesResponse" />
			<xs:element name="cleanSubscriberLineResponse" type="t_CleanSubscriberLineResponse" />

		</xs:choice>
	</xs:group>
</xs:schema>