src/main/resources/schema/vpabx/conf/INCDefaultVPABXRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd"/>
	<xs:include schemaLocation="../../INCComplexTypes.xsd"/>
	<xs:complexType name="t_defaultVPABXRequest">
		<xs:sequence>
			<xs:element name="ccn" type="t_vpabxMsisdn"/>
			<xs:element name="groupSet" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>