src/main/resources/schema/vpabx/conf/INCGetUnansweredCallsListRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd" />
	<xs:include schemaLocation="../../INCComplexTypes.xsd" />
	<xs:complexType name="t_getUnansweredCallsListRequest">
		<xs:sequence>
			<xs:element name="dateMin" type="xs:dateTime"/>
			<xs:element name="dateMax" type="xs:dateTime"/>
			<xs:element name="businessContext" type="t_businessContext"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>