src/main/resources/schema/vpabx/conf/INCSetMemberAclipRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd" />
	<xs:include schemaLocation="../../INCComplexTypes.xsd" />
	<xs:complexType name="t_setMemberAclipRequest">
		<xs:sequence>
			<xs:element name="msisdn" type="t_vpabxMsisdn"/>
			<xs:element name="variant" type="t_aclipVariant"/>
			<xs:element name="number" type="xs:string" minOccurs="0"/>
			<xs:element name="businessContext" type="t_businessContext" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>