src/main/resources/schema/vpabx/conf/INCSetFaxAutodetectionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd" />
	<xs:include schemaLocation="../../INCComplexTypes.xsd" />
	<xs:complexType name="t_setFaxAutodetectionRequest">
		<xs:sequence>
			<xs:element name="type" type="t_faxAutodetectionType" />
			<xs:element name="fax" type="t_baseVpabxMember" minOccurs="0"/>
			<xs:element name="businessContext" type="t_businessContext" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>