src/main/resources/schema/vpabx/conf/INCSetAnnouncementRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="INC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="INC" elementFormDefault="qualified">
	<xs:include schemaLocation="../../INCBaseTypes.xsd" />
	<xs:include schemaLocation="../../INCComplexTypes.xsd" />
	<xs:complexType name="t_setAnnouncementRequest">
		<xs:sequence>
			<xs:choice>
				<xs:element name="announcement" type="t_databaseElement" />
				<xs:element name="deleteAnnouncement" type="t_true"/>
			</xs:choice>
			<xs:element name="businessContext" type="t_businessContext" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>